<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="musicbean" class="Control.RockMusic"></bean>
    <bean id="musicplayer" class="Control.MusicPlayer">
       <property name="music" ref="musicbean"></property>
        <property name="name" value="Hindolbek"></property>
        <property name="value" value="147"></property>

    </bean>
</beans>